node_modules/
dist/
build/
*.log
.env
.eslintignore
.antigravityignore

# Ignorar apenas arquivos executáveis e o Pixelmon pesado (que está na CurseForge)
*.exe
mods/Pixelmon-*.jar

# Garantir que as pastas de distribuição SEJAM enviadas
!versions/
!mods/
!index.html
